{% extends 'base.html.twig' %}

{% block title %}Equipamiento Grafico - Principal
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			{% for value in productRepo %}
				<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 pr-4 pb-4">
					<div class="card-deck">
						<div class="mt1 card">
							<img src="{{value.url}}" class="card-img-top" alt="FotosMaquinas">
							<div class="card-body">
								<div class="item-title">
									<h2 class="card-title">{{value.titulo}}</h2>
								</div>
								<p class="card-text">{{value.descripcion}}</p>
								<p class="card-text">Precio U{{ value.precio|format_currency('USD') }}</p>
								<a href={{ path("detailProduct", {idproduct:value.idproduct } ) }} class="btn btn-primary">Ver Mas</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
