{% extends 'baseNEW.html.twig' %}

{% block title %}Equipamiento Grafico - Detalle
{% endblock %}

{% block meta %}
	<link rel="stylesheet" type="text/css" href="/css/cssNotIndexNEW.css" media="all">

{% endblock %}

{% block body %}

	<section class="main-container col1-layout wow bounceInUp animated">
		<div class="main container">
			<div class="col-main">
				<div class="row">
					<div class="product-view">
						<div class="product-next-prev">
							<a class="product-next" href="#">
								<span></span>
							</a>
							<a class="product-prev" href="#">
								<span></span>
							</a>
						</div>
						<div class="product-essential">
							<form action="#" method="post" id="product_addtocart_form">
								<input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
								<div class="product-img-box col-sm-4 col-xs-12">
									<div class="new-label new-top-left">
										New
									</div>
									<div class="product-image">
										<div class="large-image">
											{% for value in forrenderimg %}
												<!-- Aca le doy el el active para el carrusel -->
												{% if value.priority == "1" %}
													<a href="{{value.url}}" class="cloud-zoom" id="zoom1">
														<img src="{{value.url}}" alt="product image">
													</a>
												{% endif %}
											{% endfor %}
										</div>
										<div class="flexslider flexslider-thumb">
											<ul class="previews-list slides">
												{% for value in forrenderimg %}
													<li style="width: 76px; float: left; display: block;">
														<a href="{{value.url}}" class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '{{value.url}}' ">
															<img src="{{value.url}}" alt="Thumbnail 1">
														</a>
													</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>


								<div class="product-shop col-sm-8 col-xs-12">
									<div class="product-name">
										<h1>{{oneProduct.titulo}}</h1>
									</div>

									<div class="price-block">
										<div class="price-box">
											<p class="special-price">
												<span class="price-label">Precio</span>
												<span id="product-price-48" class="price">
													{{oneProduct.precio}}
												</span>
											</p>

										</div>

									</div>
									<div class="short-description">
										<h2>Descripcion</h2>
										<p>{{oneProduct.descripcion}}
										</p>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="/js/cloud-zoom.js"></script>
{% endblock %}
